li a:hover{
    background-color: #fad390;
    color: white;
    
}

li a{
    display: block;
    color: blue;
    padding: 8px 16px;
    text-decoration: none;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: skyblue;
  }

  .li{
    display: inline-block;
    border-right: 1px solid BLUE;
  }
  .li a:hover{
    background-color: rgba(128, 128, 128, 0.806);
  }
  .li:last-child {
    border-right: none;
  }

  .ul{
    
        background-color: rgb(207, 207, 207)
  }